html{
    background-color: black;
    scroll-behavior:smooth;
}
body {
    font-family: "Lato", sans-serif;
}
head{
    padding:0px;
}
.Mypic{
    height:15%;
    width:12%;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px grey;
    float: left;
}
.head{
    background-image: url(HeaderBackground.jpg);
    padding: 1%;
    height: 650px;
    border-radius: 8px;
}
.heading{
    text-align: center;
    font-size: 400%;
    margin-left: 30%;
    margin-right:30%;
}
.prf{
    position: relative;
    top:40%;
    float:left;
    padding-right:0px;
    margin-right: 45%;
}
.link{
    text-decoration: none;
    color: black;
    background-color:dimgray;
    border-radius: 5px; 
}
.links{
    color: black;
    text-decoration: none;
}
.icons{
    width: 5%;
    height: 5%;
    position: relative;
    top:7px;
}
.container {
  position: relative;
  width: 25%;
    float: left;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
    border-radius: 15px;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
.floats{
    position: relative;
    float: left;
}
* {box-sizing: border-box}

.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 20px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

.tabcontent {
    text-align: center;
    border-radius: 10px;
    font-size: 20px;
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}
.Tab{
    font-family: fantasy;
    font-weight:lighter;
    font-size: 35px;
    margin-left:25%;
    margin-right:25%;
    text-align: center;
    background-color: rgba(173,216,230,0.8);
    border-radius: 15px;
    text-decoration: none;
    color:black;
}
.Tabs{
    text-decoration: none;
    color: black;
    
}
.des{
    text-align: center;
    padding: 6%;
    border:3px solid darkblue;
    font-size: 25px;
    box-shadow: 4px 4px 4px 4px rgba(100,100,100,0.3);
    background-color: blanchedalmond;
    border-radius: 18px;
    margin-left: 20%;
    margin-right: 20%;
}
.des2{
    text-align: center;
    padding: 6%;
    border:3px solid darkblue;
    font-size: 25px;
    box-shadow: 4px 4px 4px 4px rgba(100,100,100,0.3);
    background-color:rgba(188,242,107,1);
    border-radius: 18px;
    margin-left: 20%;
    margin-right: 20%;
}
.des3{
    text-align: center;
    padding: 6%;
    border:3px solid darkblue;
    font-size: 25px;
    box-shadow: 4px 4px 4px 4px rgba(100,100,100,0.3);
    background-color:rgba(223,155,255,10);
    border-radius: 18px;
    margin-left: 20%;
    margin-right: 20%;
}

#Home {background-color: red;}
#News {background-color: green;}
#Contact {background-color: blue;}
#About {background-color: orange;}
